your-domain.com {
    tls your-email@example.com
    root * /usr/share/caddy
    file_server

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }

    # RSS 重定向
    redir /feed /atom.xml permanent
    redir /rss /atom.xml permanent
    redir /rss.xml /atom.xml permanent

    # Sitemap 快捷路径
    redir /sitemap /sitemap.xml permanent

    # 自定义错误页
    handle_errors {
        rewrite * /404.html
        file_server
    }
}
